@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1d2834;
    width: 100%;
    height: 100vh;
    position: relative;
}

.container {
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
}

img {
    animation: flutuacao 10s ease-in-out infinite;
}

@keyframes flutuacao {
    0%, 100% {
        transform: translate(0px);
    }
    50% {
        transform: translate(-120px);
    }
}

